{% if page.description %}
    {% assign description = page.description %}
{% else %}
    {% assign description = site.description %}
{% endif %}
{% if page.title %}
    {% assign title = page.title %}
{% else %}
    {% assign title = site.title %}
{% endif %}
<meta charset="UTF-8" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>{{ title }}</title>
<meta name="description" content="{{ description }}" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<!-- Twitter Card data -->
<meta name="twitter:card" value="{{ description }}" />

<!-- Open Graph data -->
<meta propterty="og:title" content="{{ title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ page.permalink }}" />
<meta property="og:description" content="{{ description }}" />

<!-- style -->
<link rel="stylesheet" href="/static/css/style.css" />
