<a href="/"><h1>{{ site.title }}</h1></a>
<nav>
    {% if page.permalink == "about.html" %}
        <a href="/about.html" class="active">About</a>
    {% else %}
        <a href="/about.html">About</a>
    {% endif %}
</nav>
