html {
    font-family: sans-serif;
}

body {
    max-width: 760px;
    margin: auto;
}

nav a {
    font-variant: capitalize;
}

a, a:active, a:visited, a:link {
    text-decoration: none;
}

a:link.active {
    text-decoration: underline;
}

a, a:visited, a:active, a:link {
    color: inherit;
}

a:hover {
    color: #444;
    text-decoration: underline;
}
