<!DOCTYPE html>
<html>
    <head>
        {% include "head.liquid" %}
    </head>
    <body>
        <header>
        {% include "header.liquid" %}
        </header>
    <div>
        <hr>
      {{ page.content }}
    </div>
    <footer>
        {% include "footer.liquid" %}
    </footer>
  </body>
</html>
